<h1 align="center">Welcome to <%= @user.username %>'s page</h1>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 center">
            <%= gravatar_for @user, size: 150 %>
        </div>
    </div>
<h4 align="center"><%= @user.username %>'s posts</h4>

<div align="center">
    <%= will_paginate @user_posts %>
</div>
<!-- What's passed below as obj needs to match
     whatever was passed to will_paginate. It
     shouldn't be @user.posts since @user.posts
     wasn't "paginate'ified" with paginate() in
     users_controller. -->
<%= render "shared/posts", obj: @user_posts %>
